@font-face{
	font-family:one;
	src:url(../font/2.ttf);
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: one;
	box-sizing: border-box;
    text-align: justify;
    font-weight: 800;	
}
body{
	background-color:black;
}
.headerdiv {
    background-image: url(../img/10.jpg);
    height: 740px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0%,100% 60%,50% 100%,0% 60%,0% 0%);
    position: relative;
    z-index: 1;
}
.lineargradient {
	background: rgba(0,0,0,0.4);
	top:0;
	height: 740px;
	width: 100%;
	background-size:100%;
	background-attachment:fixed;
	background-repeat:no-repeat;
	clip-path: polygon(100% 0%,100% 60%,50% 18%,0% 60%,0% 0%);
	position:absolute;
	z-index:-1;
}
.nav{
	display: flex;
	height: 70px;
}
.logo{
	
	text-align: center;
	display: flex;
	height:70px;
	flex-basis: 20%;
	align-items: center;
	justify-content: center;
}
.logo h1{
	font-size: 40px;
	color: #ffffff;
}
.menu{
	justify-content: center;
	display: flex;
	text-align: center;
	align-items: center;
	height:70px;
	flex-basis: 60%;
}
.menu ul{
	flex-basis: 100%;
	display: flex;
	justify-content: space-between;
	list-style:none;
	text-align: center;
	align-items: center;
}
.menu ul li{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 8px;
}
.menu ul li a{
	color: #ffffff;
	display: flex;
	font-size:25px;
	text-decoration:none;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px;
}
.menu ul li a:hover{
	background-color: #db7b0b;
	transition:.5s;
	box-shadow: 0 0 10px #ecef18, 0 0 40px #ecef18, 0 0 16px 7px #ecef18;
}
.button{
	text-align: center;
	display: flex;
	height:70px;
	flex-basis: 20%;
	justify-content: center;
	align-items: center;
}
.button button {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgba(20, 21, 20, 0.51);
    box-shadow: inset 5px -1px 0px 0px #f7f9f3;
}
.button button:hover{
	background-color: #db7b0b;
	transition:.5s;
	box-shadow: 0 0 10px #ecef18, 0 0 40px #ecef18, 0 0 16px 7px #ecef18;
}
.setting {
    height: 50px;
    width: 46px;
    background-image:url(../icon/7.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    position: fixed;
    top: 100px;
    right: 0px;
    cursor:pointer;
    background-color: #ecebe6;
}
.settingcontent {
	box-shadow: 0 0 10px #ece8e6, 0 0 40px #340c00, 0 0 16px 7px #340c00;
	color: #ffffff;
	background-color: #340c00;
	height: 180px;
	width: 180px;
	position: absolute;
	position: fixed;
	top: 100px;
	right: 46px;
	padding:5px;
	display:none;
}

.musicone {
    background-color: #888282;
    margin-top: 5px;
    height: 17px;
    width: 92px;
    float: right;
    color:black;
    text-align:center;
    font-size:10px;
    cursor:pointer;
    border: 1px solid white;
    border-radius: 50px;
}
.musictwo {
    background-color: #888282;
    margin-top: 5px;
    height: 17px;
    width: 92px;
    float: right;
    color: black;
    cursor:pointer;
    text-align:center;
    font-size:10px;
    border: 1px solid white;
    border-radius: 50px;
}
.musicthree {
    background-color: #888282;
    margin-top: 5px;
    height: 17px;
    width: 80px;
    float: right;
    color:black;
    cursor:pointer;
    text-align:center;
    font-size:10px;
    border: 1px solid white;
    border-radius: 50px;
}
.color {
    display: flex;
    flex-direction: column;
    height: 30px;
    margin: 4px;
    width: 30px;
    border: 1px solid white;
    background-image: url(../img/10.jpg);
    background-size: 30px;
    border-radius: 50px;
    cursor: pointer;
}
.cologra {
    height: 30px;
    width: 30px;
    float: left;
    margin-left: 5px;
    border: 1px solid white;
    background-image:url(../img/11.jpg);
	background-size:30px;
    border-radius: 50px;
	cursor:pointer;
}
a {
    text-decoration: none;
}
button.vrson {
    cursor: pointer;
    width: 100%;
    background-color: #888282;
    border: 1px solid white;
    border-radius: 30px;
    padding: 4px;
    color: white;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.close {
    display: block;
    background-color: #888282;
    height: 30px;
    width: 100%;
    color: #f5f2f2;
    text-align: center;
    margin: 14px 0px;
    border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
}
.pause {
 
background-color: rgba(0,0,0,0.1);
 
text-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0px -13px 100px #f9f9f9;
	color: #ffffff;
 
padding: 5px;
 
height: 50px;
 
width: 46px;
 
position: fixed;
 
top: 159px;
 
right: 0px;
 
cursor: pointer;
}
.pause:hover{
	background-color: #db7b0b;
	transition:.5s;
	box-shadow: 0 0 10px #ecef18, 0 0 40px #ecef18, 0 0 16px 7px #ecef18;
}

.myname{
	color: #ffffff;
	display: flex;
	font-size: 27px;
	justify-content: center;
	align-items: center;
	text-align:center;
	margin: 20px;
}
.myself{
	color: #ffffff;
	display: flex;
	text-align:center;
	align-items: center;
	justify-content: center;
	font-size:20px;
	margin:20px;
}
.myself span:after{
	color: #ffffff;
	margin-left:10px;
	content:'Responsive webdesigner';
	animation:sani 7s linear infinite;
}
@keyframes sani{
	20%{
		content:'';
		
	}
	40%{
		content:'Responsive webdesigner';
		text-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 100px #ffffff;
		color:#d4720d;
	}
	60%{
		content:'';
		
	}
	80%{
		content:'Responsive webdesigner';
	}
	100%{
		content:'';
	}
}
.myvillage{
	color: #ffffff;
	display: flex;
	text-align:center;
	font-size:20px;
	margin:20px;
	justify-content: center;
	align-items: center;
}
.cv{
	display: flex;
	text-align:center;
	font-size:15px;
	margin:20px;
	justify-content: center;
	align-items: center;
}
.cv button {
    
box-shadow: inset 5px -1px 0px 0px #f3f2eb;
    
cursor: pointer;
    
margin: 10px;
    
padding: 7px;
    
background-color: rgba(20, 21, 20, 0.51);
}
.cv button:hover{
	background-color:#f5f51f;
	background-color: #db7b0b;
	transition:.5s;
	box-shadow: 0 0 10px #ecef18, 0 0 40px #ecef18, 0 0 16px 7px #ecef18;
}
.cv button a{
	font-size: 15px;
	text-decoration:none;
	color: white;
	font-size: 18px;
}
.icon{
	display: flex;
	text-align:center;
	justify-content: center;
	align-items: center;
}
.icon img{
	background-color: white;
	height:30px;
	width:30px;
	cursor:pointer;
	margin:20px;
}
.icon img:hover{
	 transform: rotate(30deg);
}
.aboutdiv {
    flex-wrap: wrap;
    display: flex;
    height: 600px;
    flex-basis: 100%;
    background-image:url(../img/9.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.myimage{
	display: flex;
	height: 600px;
	flex-basis: 50%;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.myimage img {
    box-shadow: 0 0 10px #ecef18, 0 0 40px #ecef18, 0 0 16px 7px #ecef18;
    height: 40%;
    width: 50%;
}
.progressdiv {
    height: 660px;
    width: 100%;
    background-image: url(../img/20.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.progressdiv .myskill{
	text-align: center;
    font-size: 40px;
	padding: 20px;
} 
h1.myskill {
    color: white;
}

#progressbar{
	height:100px;
	width:100%;
}
#prtext{
	
    height: 50px;
    width: 100%;
}
#prtext p{
	color: white;
	text-align:center;
	line-height:50px;
	font-size:25px;
}
#proone {
    box-shadow: inset -6px 0px 20px 0px;
    height: 26px;
    width: 75%;
    background-color: #b9b0b096;
    border-radius: 30px;
    margin: auto;
}

#inside {
    background-color: #969694;
    height: 26px;
    width: 90%;
    border-radius: 30px;
    animation: html 20s linear infinite;
}
@keyframes html{
	0%{
		width:0%;
	}
	40%{
		width:90%
	}
	100%{
		width:90%
	}
}
#inside p{
	color: white;
	text-align:center;
}
#insid{
	background-color: #969694;
	height: 26px;
	width: 98%;
	border-radius:30px;
	animation:css 20s linear infinite;
}
@keyframes css{
	0%{
		width:0%;
	}
	40%{
		width:98%
	}
	100%{
		width:98%
	}
}
#insid p{
	color: white;
	text-align:center;
}
#insi{
	background-color: #969694;
	height: 26px;
	width: 100%;
	border-radius:30px;
	animation:java 20s linear infinite;
}
@keyframes java{
	0%{
		width:0%;
	}
	40%{
		width:100%
	}
	100%{
		width:100%
	}
}
#insi p{
	color: white;
	text-align:center;
}
#ins{
	background-color: #969694;
	height: 26px;
	width: 95%;
	border-radius:30px;
	animation:framework 20s linear infinite;
}
@keyframes framework{
	0%{
		width:0%;
	}
	40%{
		width:95%
	}
	100%{
		width:95%
	}
}
#ins p{
	color: white;
	text-align:center;
}

.aboutme {
    height: 600px;
    flex-basis: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.aboutmyname {
    display: flex;
    font-size: 40px;
    color: #f7f7f5;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.abouttext{
	padding: 24px;
	display: flex;
	font-size: 20px;
	color: #d2cccc;
	text-align: justify;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.services {
    flex-direction: column;
    display: flex;
    height: 600px;
    flex-basis: 100%;
    background-image: url(../img/13.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.sertext{
	display: flex;
	height:150px;
	width:100%;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.serv{
	color: white;
	text-align:center;
	font-size:40px;
}
.servdiv{
	flex-direction: row;
	display: flex;
	height: 400px;
	flex-basis: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.servdivone{
	border: 1px solid white;
	background-size: cover;
	justify-content: center;
	text-align: center;
	align-items: center;
	flex-direction: column;
	display: flex;
	height: 400px;
	flex-basis: 22%;
	margin:0px 24px;
	background-color: #b7b1b19e;
}
.servdivone .servlogo{
	text-align: center;
	display: flex;
	height:150px;
	width:100%;
	justify-content: center;
	align-items: center;
}
.servdivone .servlogo img {
    height: 130px;
    width: 44%;
}
.servdivonetext h1{
	color: white;
	display: flex;
	text-align:center;
	justify-content: center;
	align-items: center;
}
.servdivonetext p{
	color: white;
	padding:10px;
}
.servdivtwo{
	background-color: #b7b1b19e;
	border: 1px solid white;
	background-size: cover;
	display: flex;
	height: 400px;
	flex-basis: 22%;
	margin:0px 15px;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.servdivtwo .servlogotwo{
	text-align: center;
	display: flex;
	height: 150px;
	width: 100%;
	justify-content: center;
	align-items: center;
	}
.servdivtwo .servlogotwo img {
    height: 130px;
    width: 44%;
}
.servdivtwotext h1{
	color: white;
	display: flex;
	text-align:center;
	justify-content: center;
	align-items: center;
}
.servdivtwotext p{
	color: white;
	padding:10px;
}
.servdivthree{
	background-color: #b7b1b19e;
	display: flex;
	border: 1px solid white;
	height: 400px;
	flex-basis: 22%;
	margin:0px 15px;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.servdivthree .servlogothree{
	height:150px;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.servdivthree .servlogothree img {
    height: 130px;
    width: 44%;
}
.servdivthreetext h1{
	color: white;
	display: flex;
	text-align:center;
	justify-content: center;
	align-items: center;
}
.servdivthreetext p{
	color: white;
	padding:10px;
}
.servdivfour{
	background-color: #b7b1b19e;
	display: flex;
	border: 1px solid white;
	height: 400px;
	flex-basis: 22%;
	margin:0px 15px;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.servdivfour .servlogofour {
    display: flex;
    height: 150px;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
}
.servdivfour .servlogofour img {
    height: 130px;
    width: 44%;
}
.servdivfourtext h1{
	color: white;
	display: flex;
	justify-content: center;
	text-align: center;
}
.servdivfourtext p{
	color: white;
	padding:10px;
}
.myteam {
    flex-direction: column;
    display: flex;
    height: 600px;
    flex-basis: 100%;
    background-image: url(../img/18.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.textdiv{
	display: flex;
	height:150px;
	width:100%;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.texth{
	color: white;
	text-align:center;
	font-size:40px;
}
.teamdiv{
	flex-direction: row;
	display: flex;
	height: 400px;
	flex-basis: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.teamdivone{
	border: 1px solid #a1a7a2;
	justify-content: center;
	text-align: center;
	align-items: center;
	flex-direction: column;
	display: flex;
	height: 400px;
	flex-basis: 22%;
	margin:0px 24px;
}
.teamdivone .teamlogo{
	text-align: center;
	display: flex;
	height:150px;
	width:100%;
	justify-content: center;
	align-items: center;
}
.teamdivone .teamlogo img {
    height: 130px;
    width: 44%;
}
.teamdivonetext h1{
	color: white;
	display: flex;
	text-align:center;
	justify-content: center;
	align-items: center;
}
.teamdivonetext p{
	color: white;
	padding:10px;
}
.teamdivtwo{
	border: 1px solid #aba6a6;
	display: flex;
	height: 400px;
	flex-basis: 22%;
	margin:0px 15px;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.teamdivtwo .teamlogotwo{
	text-align: center;
	display: flex;
	height: 150px;
	width: 100%;
	justify-content: center;
	align-items: center;
	}
.teamdivtwo .teamlogotwo img {
    height: 130px;
    width: 44%;
}
.teamdivtwotext h1{
	color: white;
	display: flex;
	text-align:center;
	justify-content: center;
	align-items: center;
}
.teamdivtwotext p{
	color: white;
	padding:10px;
}
.teamdivthree{
	border: 1px solid #bbb6b6;
	display: flex;
	height: 400px;
	flex-basis: 22%;
	margin:0px 15px;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.teamdivthree .teamlogothree{
	height:150px;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.teamdivthree .teamlogothree img {
    height: 130px;
    width: 70%;
}
.teamdivthreetext h1{
	color: white;
	display: flex;
	text-align:center;
	justify-content: center;
	align-items: center;
}
.teamdivthreetext p{
	color: white;
	padding:10px;
}
.teamdivfour{
	border: 1px solid #a5a0a0;
	display: flex;
	height: 400px;
	flex-basis: 22%;
	margin:0px 15px;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.teamdivfour .teamlogofour{
	height:150px;
	justify-content: center;
	width:100%;
	align-items: center;
	text-align: center;
}
.teamdivfour .teamlogofour img {
    align-items: center;
    height: 130px;
    width: 44%;
    /* padding: 10px; */
    margin: auto;
    display: block;
    justify-content: center;
    text-align: center;
}
.teamdivfourtext h1{
	color: white;
	display: flex;
	justify-content: center;
	text-align: center;
}
.teamdivfourtext p{
	color: white;
	padding:10px;
}
.contract{
	flex-direction: column;
	display: flex;
	height: 600px;
	flex-basis: 100%;
	background-image: url(../img/8.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}


.contract h1 {
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 30px;
}

.from {
    display: flex;
    height: 388px;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

input.name {
    margin: 25px;
    height: 45px;
    width: 30%;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 10px;
}
input.phone {
    margin: 25px;
    height: 45px;
    width: 30%;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 10px;
}
input.email {
    margin: 25px;
    height: 45px;
    width: 30%;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 10px;
}
.submit {
    height: 45px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    font-size: 26px;
}
footer {
	background-image: url(../img/10.jpg);
	background-size: cover;
	height: 248px;
}

.footone {
    background-color: #cac3c359;
    float: left;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 50%;
    clip-path: polygon(100% 0%,86% 100%,0% 100%,0% 0%);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footwo {
    background-color: #cac3c359;
    display: flex;
    height: 200px;
    flex-direction: column;
    width: 50%;
    float: right;
    clip-path: polygon(100% 0%,100% 100%,14% 100%,0% 0%);
    justify-content: center;
    align-items: center;
    text-align: center;
}
p {
    color: white;
}
h1.copy {
	color: white;
	text-align: center;
}



